<patTemplate:tmpl name="searchbox">
<div class="search">
      <form id="form1" name="form1" method="post" action="">
      <input name="searchstring" type="text" id="searchstring" class="blur" onfocus="clearText(this)" onblur="clearText(this)" value="Aναζήτηση.." />
      <a href="#" class="btn2 floatlft">GO</a>
      </form>
</div>
</patTemplate:tmpl>